@model MovieViewModel
@{
    ViewData["Title"] = "Movie Detail";
}

<div class="row">
    <div class="card col-3 m-2" style="width: 15rem;">
        <img class="card-img-top" src="https://spectrum-ent.com/wp-content/uploads/2020/07/epic-movie.jpg" asp-append-version="true">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <h5 class="card-title">@Model.Author</h5>
            <h5 class="card-title">@Model.Description</h5>
            <h5 class="card-title">@Model.Duration</h5>
            <h5 class="card-title">@Model.ReleaseDate</h5>
            <a href="#" class="btn btn-primary my-1 d-block">Add to Favourite</a>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary d-block">Go Back</a>
        </div>
    </div>
</div>