@model MovieModel
@{
    ViewData["Title"] = "Movie Detail";
    var photoPath = "~/image/" + (!String.IsNullOrWhiteSpace(Model.PhotoName) ? Model.PhotoName : "noimage.webp");
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-7">
                <img class="img-fluid" style="object-fit:cover; height: 500px; aspect-ratio: 1/1;"
                     src="@photoPath" asp-append-version="true">
            </div>
            <div class="col-md-4">
                <h5 class="card-title"><span>Movie</span> : @Model.Name</h5>
                <h5 class="card-title">Author : @Model.Author</h5>
                <h5 class="card-title">Movie Duration : @Model.Duration.Hours Hours,  @Model.Duration.Minutes Minutes</h5>
                <h5 class="card-title">Release Date : @Model.ReleaseDate.Date.ToString("dd MMMM, yyyy")</h5>
                <div class="mt-auto">
                    <a href="#" class="btn btn-warning d-block my-1">Add to Favourite</a>

                    @if (User.IsInRole(UserRoleType.Admin.ToString()))
                    {
                        <a asp-controller="Movie" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success d-block my-1">Edit</a>
                        <form asp-controller="Movie" asp-action="Delete" asp-route-id="@Model.Id" method="post">
                            <button type="submit" class="btn btn-danger d-block my-1 w-100">Delete</button>
                        </form>
                    }

                    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary d-block my-1">Go Back</a>
                </div>
            </div>
        </div>
        <hr />
        <div>
            <h3>Movie Description</h3>
            <p>
                @Model.Description
            </p>
        </div>
    </div>
</div>
