@model IEnumerable<MovieViewModel>
@{
    ViewData["Title"] = "Home";
}

<partial name="_SearchBar" />

<div class="row">

    @if (Model.Any())
    {
        @foreach (var item in Model)
        {
            var photoPath = "~/image/" + (!String.IsNullOrWhiteSpace(@item.PhotoName) ? @item.PhotoName : "noimage.webp");
            <div class="card col-3 m-2 p-0 overflow-hidden box-shadow" style="width: 12rem;">
                <img class="img-fluid" style="object-fit:cover; height: 200px; aspect-ratio: 1/1;" src="@photoPath" asp-append-version="true">
                <div class="card-body m-0 px-2 py-0">
                    <h6 class="fs-5 m-0">@item.Name</h6>
                    <p class="fs-6 m-0 text-muted">@item.Author</p>
                </div>
                <div class="card-footer m-0">
                    @{
                        string btnText;
                        string btnTypeClass;
                        if (item.IsFavorite)
                        {
                            btnText = "Remove From Favorite";
                            btnTypeClass = "btn-danger";
                        }
                        else
                        {
                            btnText = "Add To Favorite";
                            btnTypeClass = "btn-success";
                        }

                        <button class="add-remove-favorite-button btn btn-sm @btnTypeClass text-white my-1 d-block w-100" type="submit" value="@item.Id">@btnText</button>
                    }

                    <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary d-block">View Details</a>
                </div>
            </div>
        }
    }
    else
    {
        <div class="d-flex align-items-center justify-content-center flex-column vh-100 text-center fw-bold">

            <h2>No Movies to show at this moment.</h2>

            @if (User.IsInRole(UserRoleType.Admin.ToString()))
            {
                <p>Please Add Movies to show.</p>
                <a class="btn btn-primary" asp-controller="Movie" asp-action="Create">Add Movie</a>
            }
        </div>
    }
</div>