@model IEnumerable<MovieModel>
@{
    ViewData["Title"] = "Home";
}

<div class="row">

    @if (Model.Any())
    {
        @foreach (var item in Model)
        {
            var photoPath = "~/image/" + (!String.IsNullOrWhiteSpace(@item.PhotoName) ? @item.PhotoName : "noimage.webp");
            <div class="card col-3 m-2" style="width: 15rem;">
                <img class="img-fluid card-img-top h-50" src="@photoPath" asp-append-version="true">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h5 class="card-title">@item.Duration</h5>
                    <a asp-controller="Movie" asp-action="AddToFavorite" asp-route-id="@item.Id" class="btn btn-primary my-1 d-block">Add to Favorite</a>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary d-block">View Details</a>
                </div>
            </div>
        }
    }
    else
    {
        <div class="text-center">
            No Movies to show at this moment.
        </div>
    }
</div>